header {
    display: block;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}
footer {
    display: block;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

main {
    display: block;
    height: 400px;
    margin: 0 auto;
    text-align: center; 
}

* {
    padding : 2px;
}